asn1crypto==0.24.0
feedparser==5.2.1
Flask==1.1.2
httplib2==0.18.0
mysql-connector-python==8.0.21
mysqlclient==2.0.1
netifaces==0.10.4
PyJWT==1.5.3
python-dateutil==2.6.1
requests==2.18.4
simplejson==3.13.2
